html {
  scroll-behavior: smooth;
}

body  {
		  margin: 0;
		  
		  }
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
}

h1  {
  font-size:60px;
  font-family: 'Sunflower', sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  }
h2 {
  font-size:40px;
  font-family: 'Sunflower', sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  }
h3 {
  font-size:20px;
  font-family: 'Sunflower', sans-serif;
  color: white;
  } 
  
 a{
	font-size:20px;
	font-family: 'Sunflower', sans-serif;
	color: white;
	text-decoration:none;
	padding: 20px;
			 
 }
  a:hover{
	color: gray;
			 
 }
		
.menu{
	height:60px;
	background-color: black;
	position:fixed;
	width:100%;

	
}
.homeHeader{
	background-image: url("header image.jpg");
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
			
	text-align:center;
	font-size: 20px;
	padding-top:50px;
	padding-bottom: 40px;
  }
  
.homeHeader img{
  padding: 20px;
  width: 15%;
  
} 
.pagesHeader{
	background-image: url("header image.jpg");
	height: 50%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
			
	text-align:center;
	font-size: 20px;
	padding-top:40px;
	padding-bottom: 10px;
  }
.about-me {
  padding: 20px;
  background-color: #b1b1cd;
  color: white;
  text-align: center;
}

.highlights {
  padding-top:20px;
  padding: 20px;
  background-color: #b1b1cd;
  color: black;
  min-height: 400px;
  text-align: center;
}

.about-me ul{
	text-align: left;
	list-style-position: inside;
	padding-left:100px;
}
	
.footer{
  
  padding: 20px;
  background-color: black;
  text-align: center;
}

.footer p{
	font-size: 12pt;
	color: white;			
}

.credits p {
	font-size:4pt;
	text-align:right;
	}
	
	
	
/* Dropdown Button */
.dropbtn {
	background-color: black;
	color: white;
	font-size:20px;
	font-family: 'Sunflower', sans-serif;
	
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  font-size:12pt;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p{
	color:black;
}